.hero {
  margin: 0 auto;
  padding-top: 5rem;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.hero_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  text-align: center;
  color: var(--text-white);
}

.typed_text {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--primary-color);
}

.description {
  max-width: 500px;
  font-size: 18px;
  text-align: center;
  color: var(--text-white);
}

.socials {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.crystalContainer {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle, #1e1e2f, #11111b);
  padding: 1.5rem;
  border-radius: 1rem;
  width: 100%;
  box-shadow: 0 0 20px #6a5acd55;
  color: var(--text-white);
  text-align: center;
  transition: all 0.3s ease;
}

.ball {
  font-size: 4rem;
  cursor: pointer;
  animation: float 3s ease-in-out infinite;
  transition: transform 0.2s;
}

.ball:hover {
  transform: scale(1.1);
}

.message {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #d1d5f0;
  min-height: 3rem;
}

/* Floating animation */
@keyframes float {
  0%,
  100% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
}

@media screen and (max-width: 1024px) {
  .hero {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
  }

  .title {
    margin: 0 7%;
  }

  .typed_text {
    font-size: 2rem;
  }

  .crystalContainer {
    align-self: flex-start;
    height: 100%;
  }
}

@media screen and (max-width: 480px) {
  .hero {
    padding: 2rem;
    padding-top: 6rem;
    gap: 20px;
  }

  .intro h1 {
    font-size: 1.5rem;
  }

  .typed_text {
    font-size: 1.5rem;
  }

  .description {
    font-size: 1rem;
  }

  .message {
    font-size: 1rem;
  }
}
