.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 100px;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
}

.navbar ul li {
  font-size: 20px;
  font-weight: 400px;
  color: var(--text-white);
}

.menu {
  display: none;
  z-index: 3;
}

.sticky_nav {
  border-bottom: 1px solid white;
  transition: 0.5s all ease;
}

@media screen and (max-width: 840px) {
  .navbar {
    padding: 0 2.5rem;
  }

  .navbar ul {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 200px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: 0.5s all ease;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
  }

  .menu {
    display: block;
  }

  .navbar ul.menu_closed {
    position: fixed;
    right: -200px;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    padding: 0 2.5rem;
  }
}
